{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-grp">
				<legend class="border-botton mb-4">Join Today</legend>

				<div class="form-grp">
					{{ form.username.label(class="form-control-label")}}

					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
						{% else %}
							{{ form.username(class="form-control form-control-lg")}}
					{% endif %}
				</div>

				<div class="form-grp">
					{{ form.email.label(class="form-control-label")}}

					{% if form.email.errors %}
						{{ form.email(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.email.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg")}}
					{% endif %}
				</div>

				<div class="form-grp">
					{{ form.password.label(class="form-control-label")}}

					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
						{% else %}
							{{ form.password(class="form-control form-control-lg")}}
					{% endif %}
				</div>

				<div class="form-grp">
					{{ form.confirm_pswd.label(class="form-control-label")}}

					
					{% if form.confirm_pswd.errors %}
						{{ form.confirm_pswd(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.confirm_pswd.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
						{% else %}
							{{ form.confirm_pswd(class="form-control form-control-lg")}}
					{% endif %}
				</div>
			</fieldset>

			<br/>
			<div class="form-grp">
				{{ form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
	<div class="border-top pt-3">
		<small class="text-muted">
			Already Have an Account? <a class="ml-2" href="{{ url_for('login')}}">Sign In</a>
		</small>
	</div>
{% endblock content %}